<div style="padding: 36px 0;">
  <center>
    <%- include('partials/header', { iconImgSrc, logoImgSrc }); %>

    <p style="color: #2b2b2b; margin-top: 6px; text-align: center; font-size: 20px;">Você foi convidado a participar do projeto <b><%= projectName %></b>.</p>

    <div style="margin-top: 36px;">
      <a href="http://localhost:3000/invitation/<%= token %>" style="text-decoration: none; padding: 14px 20px; border-radius: 5px; color: #2b2b2b; background-color: #28CCC7; margin-right: 10px; font-size: 16px;">
        Aceitar convite
      </a>

      <a class="infinitum-email-deny-button" href="http://20.115.112.85:3000/revoke/<%= token %>" style="text-decoration: none; padding: 14px 20px; border-radius: 5px; color: #2b2b2b; background-color: rgba(216, 92, 67, 0.8); margin-left: 10px; font-size: 16px;">
        Recusar convite
      </a>
    </div>

    <%- include('partials/footer'); %>
  </center>
</div>

