<div style="padding: 36px 0;">
  <center>
    <img src="<%= invitationImgSrc %>"/>

    <div style="margin-top: 26px; width: 100%;">
      <div style="margin: 0 auto; display: inline-flex; justify-content: center; align-items: center;">
        <img src="<%= logoImgSrc %>" />
        <h1 style="color: #2b2b2b; margin-left: 8px; text-align: center; font-size: 26px;">Infinitum</h1>
      </div>
    </div>

    <p style="color: #2b2b2b; margin-top: 6px; text-align: center; font-size: 20px;">Você foi convidado a participar do projeto <b><%= projectName %></b>.</p>

    <div style="margin-top: 36px;">
      <a href="http://localhost:3000/invitation?token=<%= token %>" style="text-decoration: none; padding: 14px 20px; border-radius: 5px; color: #2b2b2b; background-color: #28CCC7; margin-right: 10px; font-size: 16px;">
        Aceitar convite
      </a>

      <a class="infinitum-email-deny-button" href="http://localhost:3000/invitation?revoke=<%= token %>" style="text-decoration: none; padding: 14px 20px; border-radius: 5px; color: #2b2b2b; background-color: rgba(216, 92, 67, 0.8); margin-left: 10px; font-size: 16px;">
        Recusar convite
      </a>
    </div>

    <small style="display: block; margin-top: 48px; color: #2b2b2b;">Equipe Infinitum</small>
  </center>
</div>

